Cet email est envoyé par " {{ firstname }} - {{ lastname }} " et SwiftMailer : <br />
<h1>{{ object }} </h1><br />
<h3> Message : </h3> 
<p>{{ message }}
</p><br />
<h4>l'adresse email de contact est {{ email }}</h4>
--

Merci
